TELEGRAM_API_ID=                                                                                                                  3 +TELEGRAM_API_HASH=your_api_hash_here
TELEGRAM_API_HASH=
TELEGRAM_SESSION=
CC_CHANNEL_USERNAME=
CC_OPENAI_API_KEY=
CC_OPENAI_EMBEDDING_MODEL=
CC_REDIS_HOST=127.0.0.1  
CC_REDIS_PORT=
CC_REDIS_PASSWORD=
CC_WWWROOT_PORT=