# Telegram Userbot (https://my.telegram.org dan oling)
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION=

# Telegram kanal (ish e'lonlari joylanadigan kanal)
CC_CHANNEL_USERNAME=@your_channel

# Manba kanallar (vergul bilan ajratilgan)
CC_SOURCE_CHANNELS=@channel1,@channel2,@channel3

# OpenAI
CC_OPENAI_API_KEY=
CC_OPENAI_CHAT_MODEL=gpt-4o
CC_OPENAI_EMBEDDING_MODEL=text-embedding-ada-002

# Redis
CC_REDIS_HOST=127.0.0.1
CC_REDIS_PORT=6379
CC_REDIS_PASSWORD=

# Server
CC_WWWROOT_PORT=3005
